* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    height: 500vh;
}

.container {
    max-width: 1280px;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100%;
    padding: 60px 4px;
    position: fixed;
    top: 0;
    left: 0;
    transition: 1s;
}
header.rolagem {
    background-color: #fff;
    padding: 20px 4%;
}

header.rolagem a{
    color: #FE775A;
}

header i {
    font-size: 30px;
    color: #fff;
    margin-left: 50px;
}
header ul {
    list-style-type: none;
}

header ul li {
    display: inline-block;
    margin: 0 40px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    
}

.btn-contato button {
    width: 120px;
    height: 40px;
    border: 0;
    border-radius: 7px;
    background-color: #FFAE81;
    color: #fff;
    cursor: pointer;
    transition: .2s;
    margin-right: 50px;
}

.banner {
    height: 100vh;
    background-image: url(img/melbinjacob.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1 {
    font-size: 4em;
    color: #fff;
}

.banner span {
    color: #FFAE81;
}

header a:hover {
    background-color:#FFAE81;
    transition: 0.5s;
    border-radius: 3px;
}